node_modules
npm-debug.log
.git
.gitignore
.dockerignore
.DS_Store
.env.local
.env.*.local
*.iml
.idea
.vscode
*.swp
*.swo
*~
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool
.packages
build/*
!build/web
dist
.gradle
.android
.ios
macos
windows
linux
web
coverage
test
.github
.gitlab-ci.yml
.circleci
docker-compose.yml
Dockerfile*
.travis.yml
README.md
CHANGELOG.md
LICENSE
*.log
.DS_Store
Thumbs.db
